@import "Variables";

.landing {
  @include full-height;

  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $dark-bg;
  color: #fff;
}

.landing-content {
  @include adaptative-width;
}
