@import "Variables";

.landing {
  @include full-height;

  background-color: $dark-bg;
  color: #fff;
}

.landing-content {
  @include adaptative-width;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: start;
  }
}

.presentation {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

h1 {
  font-size: 2.5rem;
  color: $main-orange;
}

.subtitle {
  font-size: 1.8rem;
  color: $light-orange;
}

.about {
  @include full-height;

  background-color: $dark-bg;
}

.about-content {
  @include adaptative-width;

  color: #fff;
}

.nowrap {
  white-space: nowrap;
}
