@import 'variables';

.social-links {
  padding: 0;
  display: flex;
  justify-content: center;

  a {
    margin: 1rem;
    font-size: 1.5rem;
    color: $light-bg;
  }

  a:visited {
    color: $light-gray;
  }
}

.landing-icons {
  color: #fff;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
    order: -1;

    a {
      margin: 1rem 5rem 1rem 0;
    }
  }
}

.footer-icons {
  a {
    color: $dark-bg;
  }

  a:visited {
    color: $gray;
  }
}
