$gray: #3c3a39;
$dark-bg: #1c1a19;

@mixin adaptative-width {
  max-width: 360px;
  width: 100vw;
  padding: 0 20px;
  border: solid goldenrod 1px;
  
  @media screen and (min-width: 768px) {
    max-width: 1500px;
    padding: 0 20px;
    border: solid goldenrod 1px;
  }
}

@mixin full-height {
  height: 100vh;

  & > div {
    padding-top: 50px;
  }
}
