$gray: #3c3a39;

@mixin adaptative-width {
  max-width: 360px;
  width: 100vw;
  border: solid goldenrod 1px;
  
  @media screen and (min-width: 768px) {
    max-width: 1500px;
    border: solid goldenrod 1px;
  }
}
