$gray: #3c3a39;
$dark-bg: #1c1a19;
$main-orange: #ff6b00;
$light-orange: #fff3d7;

@mixin adaptative-width {
  max-width: 360px;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 20px;
  border: solid goldenrod 1px;
  
  @media screen and (min-width: 768px) {
    max-width: 1500px;
    padding: 0 20px;
    border: solid goldenrod 1px;
  }
}

@mixin full-height {
  min-height: 100vh;

  & > div {
    margin-top: 50px;
  }
}
