#about {
  background: gray;
  height: 100vh;
}

.about {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin-right: auto;
  }
}

h2 {
  font-size: 3rem;
  color: darkorange;
}
