#about {
  background: #1c1a19;
  color: #fff;
  height: 100vh;

  p {
    line-height: 20px;
  }
}

.about {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    width: 150px;
    height: 50px;
    margin-right: auto;
    background: #ff6b00;
    color: #fff;
    font-weight: bold;
    border: solid #ff6b00 1px;
  }
}

h2 {
  font-size: 3rem;
  color: #ff6b00;
}
