#landing {
  background: #1c1a19;
  color: #fff;
  min-height: 100vh;

  p {
    line-height: 20px;

    span {
      font-size: 1.8rem;
      color: #eed;
    }
  }

  a {
    color: #fff;
  }
}

.socialMedia {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    margin: 5px;
  }
}

.land {
  min-height: 50vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  color: #ff6b00;
}
