#header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #3c3a39;
  color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navText {
  color: #fff;
}

#navlist {
  display: none;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;

  a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  @media (min-width: 768px) {
    display: flex;
    gap: 15px;
  }
}

#burger {
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }
}
