#tools {
  background: #1c1a19;
  color: #fff;
  min-height: 100vh;
}

.tool {
  box-sizing: border-box;
  border-top: solid #fff 2px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.toolList {
  list-style: none;
  padding: 0;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}
