.work {
  padding-bottom: 50px;

  h3 {
    padding-bottom: 50px;
    border-bottom: solid #000 1px;
  }
}

.WorkCard {
  height: 400px;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    font-size: 28px;
    margin: 20px 16px;
  }

  p {
    margin: auto 16px;
  }

  ul {
    margin: auto 16px 0 16px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  li {
    padding: 10px;
    background: rgba(120, 120, 120, 0.25);
    color: #fff;
  }

  button {
    margin-top: 30px;
    height: 50px;
  }
}
