#header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #3c3a39;
  color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navText {
  color: #fff;
}

#navlist {
  display: none;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;

  a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  @media (min-width: 768px) {
    display: flex;
    gap: 15px;
  }
}

#burger {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

#burgerMenu {
  max-width: 300px;
  height: 100vh;
  margin: 0 auto;
  background: #3c3a392c;
  padding: 50px 10px;
  box-sizing: border-box;
  z-index: -1;

  li {
    list-style: none;
    border-bottom: 1px solid #666;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: 25px 5px;
    display: block;
  }
}
