* {
  font-size: 15px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.contWidth {
  max-width: 300px;
  margin: auto;
  padding-top: 50px;
}

#navBar {
  max-width: 300px;
  margin: auto;
  height: 50px;
}

.orangeBtn {
  background: #ff6b00;
  color: #fff;
  font-weight: bold;
  border: solid #ff6b00 1px;

  &:hover {
    cursor: pointer;
    background: #fff;
    color: #ff6b00;
  }

  &:active {
    background: #ffcfac;
    color: #ff6b00;
  }
}
